      * {
        font-family: Arial, Helvetica, sans-serif;
    }
      
      .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      /* Style du logo */
      .navbar__logo img {
        width: 69px; /* Taille du logo */
        height: 50px;
      }

      /* Style de la liste du menu */
      .navbar__list {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
      }

      /* Style des éléments de la liste du menu */
      .navbar__list li {
        display: inline-block;
        margin-left: 20px;
      }

      /* Style des liens du menu */
      .navbar__list li a {
        text-decoration: none;
        color: white;
        font-weight: 50;
        transition: color 0.3s ease;
      }

      /* Style des liens du menu au survol */
      .navbar__list li a:hover {
        color: #555;
      }

      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background: url('../assets/background.webp') no-repeat center center fixed;
        background-size: cover;
      }
      